<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Centered Yoga<%= @sub_title.nil? ? "" : " - #{@sub_title}" %></title>

    <link href='http://fonts.googleapis.com/css?family=Judson|Josefin+Slab|Arvo|Rokkitt' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "reset",
                            "main",
                            :cache => "cached-main", :media => ""%>

    <!--[if lt IE 8]>
    <%= stylesheet_link_tag "main.lt_ie8.css" %>
    <![endif]-->

    <%= yield(:header_stylesheets) %>

    <%= csrf_meta_tag %>

    <%= yield(:meta_description)%>
</head>

<body>

    <div class="container">
    
        <div class="header">
            
            <%= link_to "/" do %>
                <h1>centered yoga</h1>
            <% end%>
            
            <ul class="nav">
                <li><%= link_to "About", {:action => :about}, :class => (action_name == "about" ? "selected-link" : "") %></li>
                <li><%= link_to "Classes", {:action => :classes}, :class => (action_name == "classes" ? "selected-link" : "") %></li>
                <li><%= link_to "Private lessons", {:action => :private_lessons}, :class => (action_name == "private_lessons" ? "selected-link" : "") %></li>
                <li><%= link_to "Contact", {:action => :contact}, :class => (action_name == "contact" ? "selected-link" : "") %></li>
            </ul>                          
            
        </div>

        <div class="content">
            <%= yield %>
            
        </div>    
            
        <div  class="footer">
        </div>
            
    </div>        

    <br/>
            

</body>

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>-->

<%#= yield(:footer_scripts) %>

<% if Rails.env.production? %>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1383509-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>

<% end %>

</html>



